{% extends 'layout.html' %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/contact-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Add/Edit posts</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form id="contactForm" action="/edit/{% if post %}{{post.sno}}{% else %}0{% endif %}" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" name="title" placeholder="Title" value="{% if post %}{{post.title}}{% endif %}" required />
                                    <label for="title">Title</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="tline" type="text" name="tline" placeholder="Tagline" value="{% if post %}{{post.tagline}}{% endif %}" required />
                                    <label for="tline">Tagline</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="slug" type="text" name="slug" placeholder="Slug" value="{% if post %}{{post.slug}}{% endif %}" required />
                                    <label for="slug">Slug</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" style="height: 12rem" required>{% if post %}{{post.content}}{% endif %}</textarea>
                                    <label for="content">Content</label>
                                </div>
                                <br />
                               <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </main>
{% endblock %}